[submodule "api"]
	path = api
	url = https://github.com/esuau/les-indecis-api.git
[submodule "android"]
	path = android
	url = https://github.com/esuau/les-indecis-android.git
[submodule "server"]
	path = server
	url = https://github.com/esuau/les-indecis-server.git
[submodule "borne"]
	path = borne
	url = https://github.com/esuau/les-indecis-station.git
[submodule "nfc"]
	path = nfc
	url = https://github.com/esuau/les-indecis-nfc.git
[submodule "tableau-de-bord"]
	path = tableau-de-bord
	url = https://github.com/esuau/les-indecis-dashboard.git
