[submodule "api"]
	path = api
	url = https://github.com/esuau/les-indecis-api.git
[submodule "web"]
	path = web
	url = https://github.com/esuau/les-indecis-web
[submodule "android"]
	path = android
	url = https://github.com/esuau/les-indecis-android
