[submodule "api"]
	path = api
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-api.git
[submodule "android"]
	path = android
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-android.git
[submodule "server"]
	path = server
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-server.git
[submodule "borne"]
	path = borne
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-borne.git
[submodule "nfc"]
	path = nfc
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-nfc.git
[submodule "tableau-de-bord"]
	path = tableau-de-bord
	url = http://git.undefined.inside.esiag.info/les-indecis/les-indecis-tableau-de-bord.git
